html.nik #superbanner {
    width: 728px;
    height: 90px;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
}
html.nik .widget div{
    text-align: center;
    margin: 0 auto;
}
html.nik .widget .textwidget {
    width: 300px;
    margin: 20px auto;
    text-align: center;
}
html.nik .widget ul li{
    text-align: left;
}