/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
		html{
		margin: 0;
    	padding: 0;
	    width: 100%;
	    min-width: fit-content;
    	height: auto;
    	min-height: fit-content;
	    margin-top: 0px !important;
	}       

	body{
		/*
		padding: 0;
		margin: 0;
	    padding-top: 34px;
	    */
	    display: block;
	    width: 100%;
	    min-width: fit-content;
	    height: 100%;
	    font-size: 16px;
	    background-size: 100vw 100vh;
	    padding-top: 50px;
	}

	h1 {
	    font-size: 20px;
	    margin: 0 auto;
	}

	div#wpadminbar {
	    display: none;
	}
	a, a:visited, a:hover, a:focus{
	    font-size: inherit;
	}
	.blog a, .blog a:visited, .blog a:hover, .blog a:focus{
	    font-size: inherit;
	}
	.archive a, .archive a:visited, .archive a:hover, .archive a:focus{
	    font-size: inherit;
	}

	.home a, .home a:visited, .home a:hover, .home a:focus{
	    font-size: inherit;
	}

	.page a, .page a:visited, .page a:hover, .page a:focus{
	    font-size: inherit;
	}
	.single a, .single a:visited, .single a:hover, .single a:focus{
	    font-size: inherit;
	}
	button, .btn, input[type=button]{
	  	font-size: inherit;
	}
	button:focus, .btn:focus, input[type=button]:focus{
	    font-size: inherit;
	}
	button.selected:focus, .btn.selected:focus, input[type=button].selected:focus{
	    font-size: inherit;
	}
	.main-wrapper{
		margin: 0 auto;
		min-width: 100%;
		width: 100%;
		max-width: 100%;
	}

	.main-container{
		margin: 0;
		padding: 0;
		min-width: 100%;
		width: 100%;
		max-width: 100%;
	}
	.main-container.container{
		min-width: 100%;
		width: 100%;
		max-width: 100%;	
	}
	.main-container .row, .main-container .row .col {
		margin: 0;
		padding: 0;
	}
	section {
	    margin: 15px 0;
	}
	#carousel-section{
		display: none;
	}


	/*	=====================================================
			FEATURED HEADER 
		===================================================== */

	#main-featured-content{
	    width: 100%;
	}

	#featured-posts {
	    width: 100%;
	}
	#header-featured-col-left{
		width: 100%;
		float: left;
	}
	#header-featured-post-bot-left{
		width: 320px;
		height: 200px;
		float: left;
	}
	#header-featured-post-bot-right{
		width: 320px;
		height: 200px;
		float: right;
	}
	#header-featured-col-right{
		width: 320px;
		float: right;
	}
	#header-featured-post-right-main{
		width: 320px;
		height: 290px;
		float: right;
	}



	/*	=====================================================
			SIDEBAR 
		===================================================== */
	#sidebar{
		display: block;
	    margin: 0 auto;
	    height: auto;
	    width: 320px;
	}
	#main-sidebar{ 
		float: right;
		width: 100%;
		height: auto;
	}
	#sidebar aside {
		width: 320px;
	    min-height: 320px;
	    display: inline-block;
	    margin: 0 0 20px 0;
	}
	#sidebar .widget {
	    padding-bottom: 20px;
	}
	#sidebar .widget.widget_categories, #sidebar .widget.widget_archive {
	    /* display: none !important; */
	}
	#sidebar .widget-title {
	    width: 320px;
	    height: 40px;
	    font-size: 1.2em;
	    padding: 5px;
	}
	#sidebar ul {
		width: 320px;
		height: auto;
	    display: inline-block;
	    padding: 0;
	    margin: 0;
	}
	#sidebar ul ul, #sidebar ol ol{
		padding: 0;
	    margin: 0;
	}
	ul li, ol li {
	    margin: 5px 0;
	    padding: 0 20px;
	}



	/*  =====================================================
	        HEADER
	    ===================================================== */

	.brand-holder {
	    height: 50px;
	    width: auto;
	}

	#site-brand {
	    height: 72px;
	    width: 72px;
	    position: relative;
	    top: -10px;
	}

	.navbar-nav {
	    font-size: 18px;
	}

	.navbar-nav ul li{
	    padding: 0 20px;
	}

	.navbar-nav a.nav-link{
	    padding: 0;
	}

	.navbar-collapse>.navbar-nav {
	    padding-top: 30px;
	}


	/*  =====================================================
	        MAIN CONTENT 
	    ===================================================== */

	#main-content{
	    float: left;
	    width: 100%;
	    min-height: 100%;
	    min-width: 100%;
	    max-width: 576px;
	}


	/*	=====================================================
			FOOTER
		===================================================== */
	footer{
	    min-height: 300px;
	    position: relative;
	    left: 0;
	    right: 0;
	    bottom: -16px;
	    z-index: 1030;
	}



	/*	=====================================================
			POSTS
		===================================================== */
	.post {
	    min-height: 285px;
	    width: 100%;
	    min-width: 320px;
	    max-width: 576px;
	    margin-top: 15px;
	}

	.post:first-child {
	    display: block;
	    margin-top: 0;
	}
	.post a {
	    min-height: 200px;
	}

	.post p {
	    /* display:none; */
	}

	.post-title {
	    display: block;
	    max-height: 85px;
	    line-height: 1.1em;
	    width: 100%;
	    padding: 10px 15px;
	    font-size: 1.1rem;
	}

	.post-content{
	    width: 100%;
	    padding: 5px;
	    display: block;   
	}
	.post-category {
	    position: absolute;
	    display: block;
	    bottom: 0px;
	    left: 0;
	    right: 0;
	    height: 30px;
	    padding: 5px 15px;
	    text-align: right;
	    font-size: 0.8em;
	}
	.post .author {
	    display: block;
	    padding: 7.5px 30px;
	    max-width: 354px;
	    max-height: 160px;
	}

	.post .author-info{
	    /* padding: 7.5px 30px; */
	    font-size: 0.9em;
	}
	.page .author-info,
	.archive .author-info,
	.category .author-info,
	.blog .author-info{
		text-shadow: 1px 1px 3px rgba(0,0,0,0.85);
	}

	.post .author-data {
	    display: block;
	}
	.post .author-image {
	    display: block;
	    width: 50px;
	    height: 50px;
	    margin-top: 7px;
	}
	.author .row .col:last-Child {
		padding: 0;
	}
	.post .author-quote {
		width: fit-content;
		margin: 0 auto;
		padding: 0.6em 0.5em;
		line-height: 1.35em;
		max-height: 85px;
		font-size: 0.85em;
	}
	.page .post .author-name,
	.archive .post .author-name,
	.category .post .author-name,
	.blog .post .author-name {
		color: #faaf0f;
	}
	.page .post .author-twitter,
	.archive .post .author-twitter,
	.category .post .author-twitter,
	.blog .post .author-twitter {
	    color: #faaf0f;
	}
	.post .quote {
	    position: relative;
	    top: 0px;
	    width: 140px;
	    height: auto;
	    min-height: 70px;
	    max-height: 140px;
	}
	.post .quote::after{
	    position: absolute;
	    width: 0;
	    height: 0;
	    top: 30px;
	    left: -20px;
	    right: auto;
	    bottom: auto;
	    border: 12px solid;
	}
	.post .col:first-child{
	    padding-right: 0;
	}
	.post .col:last-child{
	    padding-left: 0;
	}
	.post:first-child {
	    margin: 0;
	}
	.post::last-child {
	    margin-bottom: 0;
	}
	.post .post-content-wrapper{
	    min-height: 285px;
	    max-height: 285px;
	    min-width: 320px;
	    background: linear-gradient( 
	    	transparent , 
	    	rgba(0, 0, 0, 0.35) , 
	    	rgba(0, 0, 0, 0.35) , 
	    	transparent ) !important;
	}
	.post .post-content-wrapper .post-content p {
		color:#fff;
	}
	.post .blog-featured-image {
	    min-height: 270px;
	    max-height: 285px;
	    position: absolute;
	    width: 100%;
	    min-width: 320px;
	    height: 285px;
	    left: 0;
	    right: 0;
	}
	.post .post-content-wrapper .post-content{
	    max-height: 229px;
	}
	.post .post-content-wrapper .post-content p{
	    display: none;
	    padding:10px;
	    margin: 0;
	}
	.post .post-content-wrapper .post-content p:first-child{
	    display: block;
	}

	.post .post-content-wrapper .post-category{
	    position: absolute;
	    display: block;
	    bottom: 0px;
	    left: 0;
	    right: 0;
	    height: 30px;
	    font-size: 0.8em;
	}


	/*  =====================================================
	        SINGLE POSTS
	    ===================================================== */
	.single-post .post-featured-image {
	    min-height: 270px;
	    max-height: 270px;
	}

	.single-post .post-header {
	    margin: 0;
	    width: 100%;
	    min-width: 100%;
	    max-width: 576px;
	}
	.single-post .post-content {
	    margin: 0;
	    padding: 60px 30px;
	    width: 100%;
	    min-width: 100%;
	    max-width: 576px;
	}
	.single-post .post-content p {
	    width: 100%;
	}
	.single-post .post-category {
	    width: auto;
	    bottom: 0;
	    position: absolute;
	    left: 0;
	    right: 0;
	    margin: 0;
	}
	.single-post .post-footer {
	    padding: 30px 5px;
	}

	.single-post .author {
	    min-width: 100%;
	    max-width: 420px;
	}

	.single-post .author-image {
	    display: block;
	    width: 50px;
	    height: 50px;
	}

	.single-post .author-quote {
	    padding: 1em;
	    line-height: 1.3em;
	    max-height: 135px;
	    font-size: 0.85em;
	}

	.single-post .quote {
	    position: relative;
	    top: 0px;
	    width: 170px;
	    height: auto;
	}

	.single-post .quote::after{
	    position: absolute;
	    width: 0;
	    height: 0;
	    top: 20px;
	    left: -20px;
	    right: auto;
	    bottom: auto;
	}
	.single-post .author-info {
		padding: 15px 30px 0 30px;
	}


	/*  =====================================================
	        FEATURED POSTS
	    ===================================================== */
	#featured-posts .single-featured-image {
		min-height: 260px;
		max-height: 369px;
	}
	#featured-posts .post-category{
		/* bottom: 10px; */
	}
	.featured-double-wrapper{
	    display: block;
	}
	.single-featured-post {
	    width: 100%;
	    min-width: 320px;
	    max-width: 576px;
	}
	#superbanner_holder {
		display: none;
	}
	#superbanner {
		margin: 0 auto ;
	}
	.featured-double-wrapper .row {
		width: 100%;
	    min-width: 320px;
	    max-width: 576px;
	}
	.featured-double-wrapper .row .col{
		margin-top: 15px;
		width: 100%;
	    min-width: 320px;
	    max-width: 576px;
	}
	.double-featured-post {
	    width: 100%;
	    min-height: 262px;
	    max-height: 262px;
	    margin: 15px 0;
	}

	.double-featured-image{
	    min-height: 262px;
	    max-height: 262px;
	    margin-bottom: -20px;
	}

	.podcast-featured-post {
	    width: 100%;
	    min-height: 262px;
	    margin: 10px 0;
	}
	.podcast-featured-post:first-child {
	    margin: 10px 0;
	}
	.podcast-featured-post:last-child {
	    margin: 10px 0;
	}
	.podcast-featured-image{
	    min-height: inherit;
	    margin-bottom: -30px;
	}


	/*  =====================================================
	        NEWS POSTS
	    ===================================================== */
	#news-section, #news-content {
		
	}
	#news-section > .row {
		width: 100%;
		display: block;
	}

	#news-section > .row:nth-child(even) {
		float: left;
		margin-right: 2%;
	}

	#news-section > .row:nth-child(odd) {
		float: right;
	}
	#news-section > .row:nth-child(6) {
		width: 100%;
	}

	.news-post.post{
	    width: 100%;
	    min-height: 270px;
	    height: 270px;
	    margin-top: 15px;
	}
	.news-post.post:first-child{
	    margin-top: 15px;
	}

	.news-post a{
	    min-height: 270px;
	}

	.news-post .post-title{
	    font-size: 1.3em;
	}

	.news-post .float-post-content p{
	    display: none;
	    padding: 10px;
	    margin: 0;
	}
	.news-post .float-post-content p:first-child{
	    display: block;
	}

	.news-featured-image{
	    min-height: inherit ;
	    margin-bottom: -30px;
	}


	/*  =====================================================
	        PODCAST POSTS
	    ===================================================== */
	#podcast-section a.img-link{
	    min-height: 180px;
	}

	#podcast-section .blog-post{
		max-height: 270px;
	}


	/*  =====================================================
	        BLOG POSTS
	    ===================================================== */
	#blog-section a.img-link{
	    min-height: 180px;
	}

	.blog-post>.row>.col {
	    width: 100%;
	    display: block;
	    min-width: 100%;
	    min-height: 0;
	}



}