/*  =====================================================
        Medium devices (tablets, 768px and up)
    ===================================================== */

@media (min-width: 768px) and (max-width: 991px) {
	/*  =====================================================
        GENERAL FUNCTIONS
    ===================================================== */
	html.nik {
		margin: 0;
		padding: 0;
		width: 100%;
		min-width: fit-content;
		height: auto;
		min-height: fit-content;
		margin-top: 0px !important;
	}
	html.nik body {
		display: block;
		width: 100%;
		height: 100%;
		font-size: 16px;
		background-size: 100vw 100vh;
		padding-top: 50px;
	}
	html.nik a,
	html.nik a:visited,
	html.nik a:hover,
	html.nik a:focus {
		font-size: inherit;
	}
	html.nik .blog a,
	html.nik .blog a:visited,
	html.nik .blog a:hover,
	html.nik .blog a:focus {
		font-size: inherit;
	}
	html.nik .archive a,
	html.nik .archive a:visited,
	html.nik .archive a:hover,
	html.nik .archive a:focus {
		font-size: inherit;
	}
	html.nik .home a,
	html.nik .home a:visited,
	html.nik .home a:hover,
	html.nik .home a:focus {
		font-size: inherit;
	}
	html.nik .page a,
	html.nik .page a:visited,
	html.nik .page a:hover,
	html.nik .page a:focus {
		font-size: inherit;
	}
	html.nik .single a,
	html.nik .single a:visited,
	html.nik .single a:hover,
	html.nik .single a:focus {
		font-size: inherit;
	}
	html.nik html.nik button,
	html.nik .btn,
	html.nik html.nik input[type=button] {
		font-size: inherit;
	}
	html.nik html.nik button:focus,
	html.nik .btn:focus,
	html.nik html.nik input[type=button]:focus {
		font-size: inherit;
	}
	html.nik html.nik button.selected:focus,
	html.nik .btn.selected:focus,
	html.nik html.nik input[type=button].selected:focus {
		font-size: inherit;
	}
	html.nik .main-wrapper {
		margin: 0 auto;
		min-width: 728px;
		max-width: 728px;
	}
	html.nik .main-container {
		margin: 0;
		min-width: 728px;
		max-width: 728px;
		padding: 0;
	}
	html.nik .main-container .row,
	html.nik .main-container .row .col {
		margin: 0;
		padding: 0;
	}
	html.nik section {
		margin: 2em 0;
	}
	html.nik #carousel-section {
		display: none;
	}
	/*	=====================================================
			FEATURED HEADER 
		===================================================== */
	html.nik #main-featured-content {
		width: 100%;
	}
	html.nik #featured-posts {
		width: 100%;
	}
	html.nik #header-featured-col-left {
		width: 728px;
		float: left;
	}
	html.nik #header-featured-post-bot-left {
		width: 364px;
		height: 200px;
		float: left;
	}
	html.nik #header-featured-post-bot-right {
		width: 364px;
		height: 200px;
		float: right;
	}
	html.nik #header-featured-col-right {
		width: 412px;
		float: right;
	}
	html.nik #header-featured-post-right-main {
		width: 412px;
		height: 290px;
		float: right;
	}
	/*	=====================================================
			SIDEBAR 
		===================================================== */
	html.nik #sidebar {
		display: block;
	}
	html.nik #main-sidebar {
		/* float: right; */
		margin: 0 auto;
		width: 354px;
		height: auto;
	}
	html.nik #sidebar aside {
		width: 354px;
		min-height: 350px;
		/* display: inline-block; */
		margin: 0 0 20px 0;
	}
	html.nik #sidebar aside:nth-child(even) {
		/* float: right; */
	}
	html.nik #sidebar aside:nth-child(odd) {
		/* float: left; */
	}
	html.nik #sidebar aside:first-child {
		margin-top: 0;
	}
	html.nik #sidebar aside:last-child {
		margin-bottom: 0;
	}
	html.nik #sidebar .widget {
		padding-bottom: 40px;
	}
	html.nik #sidebar .widget.widget_categories,
	html.nik #sidebar .widget.widget_archive {
		/* display: none !important; */
	}
	html.nik #sidebar .widget-title {
		width: 100%;
		height: 40px;
		font-size: 1.2em;
		padding: 5px;
	}
	html.nik #sidebar ul {
		padding: 0;
		margin: 0;
	}
	html.nik #sidebar ul ul,
	html.nik #sidebar ol ol {
		padding: 0;
		margin: 0;
	}
	html.nik ul li,
	html.nik ol li {
		margin: 5px 0;
		padding: 0 20px;
	}
	/*  =====================================================
	        HEADER
	    ===================================================== */
	html.nik .brand-holder {
		height: 50px;
		width: auto;
	}
	html.nik #site-brand {
		height: 72px;
		width: 72px;
		position: relative;
		top: -10px;
	}
	html.nik .navbar-nav {
		font-size: 20px;
	}
	html.nik .navbar-nav ul li {
		padding: 0 20px;
	}
	html.nik .navbar-nav>a.nav-link {
		padding: 0;
	}
	html.nik .navbar-collapse>.navbar-nav {
		padding-top: 30px;
	}
	/*  =====================================================
	        MAIN CONTENT 
	    ===================================================== */
	html.nik #main-content {
		float: left;
		width: 728px;
		min-height: 728px;
	}
	/*	=====================================================
			FOOTER
		===================================================== */
	html.nik footer {
		min-height: 300px;
		position: relative;
		left: 0;
		right: 0;
		bottom: -16px;
		z-index: 1030;
	}
	/*	=====================================================
			POSTS
		===================================================== */
	html.nik .post {
		min-height: 200px;
		width: 100%;
		margin: 15px 0 20px 0;
	}
	html.nik .post:first-child {
		display: block;
		margin-top: 0;
	}
	html.nik .post a {
		min-height: 200px;
	}
	html.nik .post p {
		/* display:none; */
	}
	html.nik .post-title {
		display: block;
		max-height: 85px;
		width: 100%;
		padding: 10px 15px;
		font-size: 1.1rem;
	}
	html.nik .post-content {
		width: 100%;
		padding: 5px;
		display: block;
	}
	html.nik .post-category {
		position: relative;
		display: block;
		bottom: 0px;
		width: 100%;
		height: 30px;
		padding: 5px 15px;
		text-align: right;
		font-size: 0.8em;
	}
	html.nik .post .author {
		display: block;
		padding: 7.5px 30px;
		max-width: 354px;
		max-height: 160px;
	}
	html.nik .post .author-info {
		/* padding: 7.5px 30px; */
		font-size: 0.8em;
	}
	html.nik .post .author-data {
		display: block;
	}
	html.nik .post .author-image {
		display: block;
		width: 70px;
		height: 70px;
	}
	html.nik .author .row .col:last-Child {
		padding: 0;
	}
	html.nik .post .author-quote {
		width: fit-content;
		margin: 0 auto;
		padding: 0.6em 0.5em;
		line-height: 1.35em;
		max-height: 85px;
		font-size: 0.85em;
	}
	html.nik .post .quote {
		position: relative;
		top: 0px;
		width: 160px;
		height: auto;
		min-height: 70px;
		max-height: 140px;
	}
	html.nik .post .quote::after {
		position: absolute;
		width: 0;
		height: 0;
		top: 30px;
		left: -20px;
		right: auto;
		bottom: auto;
		border: 12px solid;
	}
	html.nik .post .col:first-child {
		padding-right: 0;
	}
	html.nik .post .col:last-child {
		padding-left: 0;
	}
	html.nik .post:first-child {
		margin: 0;
	}
	html.nik .post::last-child {
		margin-bottom: 0;
	}
	html.nik .post .post-content-wrapper {
		max-height: 270px;
	}
	html.nik .post .blog-featured-image {
		min-height: 270px;
		max-height: 270px;
	}
	html.nik .post .post-content-wrapper .post-content {
		max-height: 229px;
	}
	html.nik .post .post-content-wrapper .post-content p {
		display: none;
		padding: 10px;
		margin: 0;
	}
	html.nik .post .post-content-wrapper .post-content p:first-child {
		display: block;
	}
	html.nik .post .post-content-wrapper .post-category {
		position: absolute;
		display: block;
		bottom: 0px;
		left: 0;
		right: 0;
		height: 30px;
		font-size: 0.8em;
	}
	/*  =====================================================
	        SINGLE POSTS
	    ===================================================== */
	html.nik .single-post .post-featured-image {
		min-height: 270px;
		max-height: 270px;
	}
	html.nik .single-post .post-header {
		margin: 0;
	}
	html.nik .single-post .post-content {
		margin: 0;
		padding: 60px 30px;
		width: auto;
	}
	html.nik .single-post .post-content p {
		width: 100%;
	}
	html.nik .single-post .post-category {
		width: auto;
		bottom: 0;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0;
	}
	html.nik .single-post .post-footer {
		padding: 30px 20px;
	}
	html.nik .single-post .author {
		min-width: 420px;
		max-width: 420px;
	}
	html.nik .single-post .author-image {
		display: block;
		width: 80px;
		height: 80px;
	}
	html.nik .single-post .author-quote {
		padding: 1em;
		line-height: 1.3em;
		max-height: 135px;
		font-size: 0.85em;
	}
	html.nik .single-post .quote {
		position: relative;
		top: 0px;
		width: 250px;
		height: auto;
	}
	html.nik .single-post .quote::after {
		position: absolute;
		width: 0;
		height: 0;
		top: 40px;
		left: -20px;
		right: auto;
		bottom: auto;
	}
	html.nik .single-post .author-info {
		padding: 15px 30px 0 30px;
	}
	/*  =====================================================
	        FEATURED POSTS
	    ===================================================== */
	html.nik #featured-posts .post-category {
		bottom: 10px;
	}
	html.nik .featured-double-wrapper {
		margin-top: 20px;
	}
	html.nik .single-featured-post {
		display: none;
	}
	html.nik #superbanner {
		margin: 0 auto;
	}
	html.nik .featured-double-wrapper .row {
		width: 728px;
		margin: 0 auto;
	}
	html.nik .featured-double-wrapper .row .col:first-child {
		padding-left: 0;
		padding-right: 10px;
	}
	html.nik .featured-double-wrapper .row .col:last-child {
		padding-right: 0;
		padding-left: 10px;
	}
	html.nik .double-featured-post {
		width: 100%;
		min-height: 262px;
		max-height: 262px;
		margin: 15px 0;
	}
	html.nik .double-featured-image {
		min-height: 262px;
		max-height: 262px;
		margin-bottom: -20px;
	}
	html.nik .podcast-featured-post {
		width: 100%;
		min-height: 262px;
		margin: 10px 0;
	}
	html.nik .podcast-featured-post:first-child {
		margin: 10px 0;
	}
	html.nik .podcast-featured-post:last-child {
		margin: 10px 0;
	}
	html.nik .podcast-featured-image {
		min-height: inherit;
		margin-bottom: -30px;
	}
	/*  =====================================================
	        NEWS POSTS
	    ===================================================== */
	html.nik .news-post.post {
		width: 100%;
		min-height: 270px;
		height: 270px;
		margin: 10px 0;
	}
	html.nik .news-post.post:first-child {
		margin-top: 15px;
	}
	html.nik .news-post a {
		min-height: 270px;
	}
	html.nik .news-post .post-title {
		font-size: 1.3em;
	}
	html.nik .news-post .float-post-content p {
		display: none;
		padding: 10px;
		margin: 0;
	}
	html.nik .news-post .float-post-content p:first-child {
		display: block;
	}
	html.nik .news-featured-image {
		min-height: inherit;
		margin-bottom: -30px;
	}
	/*  =====================================================
	        PODCAST POSTS
	    ===================================================== */
	html.nik #podcast-section a.img-link {
		min-height: 180px;
	}
	html.nik #podcast-section .blog-post {
		max-height: 270px;
	}
	/*  =====================================================
	        BLOG POSTS
	    ===================================================== */
	html.nik #blog-section a.img-link {
		min-height: 180px;
	}
}